.principal {
    background-image: url(img/planodeFundo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: red; */
  }

  strong {
    color: red;
  }

  .strong_2{
    color: rgb(37, 201, 4) ;
  }